.aside-upgrade {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 460px;

  app-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    user-select: none;

    .price {
      font-size: 12px;
      margin-left: 6px;
      color: #000;
      background: #fff8a0;
      padding: 2px 4px;
      border: 2px solid #b58a00;
      box-shadow: 0 2px 0 #7a5400;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}