<label *ngIf="label" class="form-group">
  {{ label }}
  <input
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="formControl"
    [class.invalid]="submitted && formControl.invalid"
  />
</label>
<div class="error" *ngIf="submitted && formControl.invalid">
  <small *ngIf="formControl.errors?.['required']">{{ label }} обязателен</small>
  <small *ngIf="formControl.errors?.['minlength']">
    Минимум {{ formControl.errors?.["minlength"].requiredLength }} символов
  </small>
  <small *ngIf="formControl.errors?.['email']">Некорректный email</small>
</div>
