.store{
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__icon {
    cursor: pointer;
    user-select: none;
  }

  app-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    user-select: none;
    

    .price {
      font-size: 16px;
      margin-left: 6px;
      color: #000;
      background: #fff8a0;
      padding: 2px 4px;
      border: 2px solid #b58a00;
      box-shadow: 0 2px 0 #7a5400;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}