<div class="store">
  <img
    [class.hidden]="isOpenStore"
    class="store__icon"
    src="assets/svg/basket.svg"
    alt="settings"
    [width]="50"
    [height]="50"
    draggable="false"
    (click)="toggleStore()"
  />
  <div class="store__modal" [class.open]="isOpenStore">
    <div class="store__header">
      <img
        class="store__icon-close"
        src="assets/svg/cross.svg"
        alt="settings"
        draggable="false"
        (click)="toggleStore()"
      />
    </div>
    <div class="store__content">
      <app-button (btnClick)="buyStrongClick()">
        <span class="btn-content">
          Strong click + {{ 1 }}
          <div class="price">
            {{ clicker.priceStrongClick$ | async }}
            <img src="assets/svg/coin.svg" alt="" [width]="12" [height]="12" />
          </div>
        </span>
      </app-button>

      <app-button (btnClick)="buyAutoClick()">
        <span class="btn-content">
          Auto click + {{ 1 }}
          <div class="price">
            {{ clicker.priceAutoClick$ | async }}
            <img src="assets/svg/coin.svg" alt="" [width]="12" [height]="12" />
          </div>
        </span>
      </app-button>

      <app-button
        [type]="'danger'"
        class="progress-reset"
        (btnClick)="resetProgress()"
      >
        <span class="btn-content" style="justify-content: center">
          <span>
            <strong>Reset</strong> {{ clicker.resetGamePrice$ | async }}
          </span>
          <img src="assets/svg/coin.svg" alt="" />
        </span>
      </app-button>
    </div>
  </div>
</div>
