@import "/src/assets/css/variables";

.store {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__icon {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    user-select: none;
  }

  app-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    user-select: none;

    .price {
      font-family: "Roboto";
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 16px;
      margin-left: 6px;
      color: #000;
      background: #fff8a0;
      padding: 2px 4px;
      border: 2px solid #b58a00;
      box-shadow: 0 2px 0 #7a5400;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &__modal {
    position: fixed;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;
    top: 0;
    left: 0;
  }

  &__icon-close {
    right: 0;
    position: relative;
    cursor: pointer;
    width: $store-header;
    height: $store-header;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: calc(100% - $store-header);
  }
}

.btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.progress-reset {
  margin-top: auto;
  margin-bottom: 20px;

  span {
    & > :not(strong) {
      font-family: "Roboto";
    }
  }
}
