<div class="clicker">
  <h3>My coins: {{ clicker.myCoins$ | async }}</h3>

  <div class="clicker__wrapper" (click)="increment($event)">
    <div class="clicker__wrapper-main-item">
      <img
        class="clicker__main-item"
        src="assets/svg/coin.svg"
        alt="coin"
        width="200"
        height="200"
        draggable="false"
      />
    </div>

    <div
      *ngFor="let popup of popups"
      class="clicker__popup"
      [ngStyle]="{ left: popup.x + 'px', top: popup.y + 'px' }"
    >
      +{{ popup.value }}
    </div>
  </div>

  <div class="clicker__auto-click">
    <span> clicks per second: {{ clicker.autoBonus$.getValue() }} </span>
  </div>
</div>
